//Colors

$color-yellow: #ECA539;
$color-red: #C00E20;
$color-orange: #F22539;
$color-black: #353535;
$color-darkgray: #5E5E5E;
$color-gray: #BFBFBF;
$color-darkwhite: #E8E8E8;
$color-lightwhite: #F5F5F5;
$color-white: #F9F9F9;
$color-bodybackground: #E5E5E5;